/* Carousel */
.text-shadow{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.carousel-inner .carousel-item {
    overflow: hidden; /* Assure que les débordements sont masqués */
}

.rounded-3 {
    border-radius: 1rem; /* Applique le rayon du conteneur */
    overflow: hidden; /* Assure que les débordements de l'image sont masqués */
    position: relative;
}

.image-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.image-wrapper img {
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: 1rem;
}

 
/* Media query pour les petits écrans (sm) */
@media (max-width: 576px) {
    /* Réduire la hauteur des images */
    .image-wrapper {
        height: 50vh; /* Ajuster la hauteur à 50% de la hauteur de la fenêtre */
        
    }

    /* Captions générales */
.carousel-caption-wrapper {
    position: absolute;
    top: 7em;
    width: 100%;
    padding: 0px;
    color: #fff;
    text-align: center;
}
    
}

/* 
  En résumé, l'utilisation des propriétés suivantes assure que l'image est correctement affichée avec des bords arrondis cohérents :

  - `object-fit: cover` : Cette propriété est utilisée pour s'assurer que l'image couvre entièrement le conteneur tout en conservant ses proportions. Elle remplit le conteneur, mais peut entraîner la coupe de certaines parties de l'image si les proportions de l'image ne correspondent pas exactement à celles du conteneur.

  - `overflow: hidden` : Appliqué au conteneur, cette propriété masque les parties de l'image qui débordent en dehors des limites du conteneur. Cela permet de maintenir des bords arrondis nets en cachant toute partie de l'image qui dépasse du conteneur arrondi.

  - Positionnement approprié : Le positionnement des conteneurs est crucial pour s'assurer que l'image est correctement centrée et redimensionnée dans le conteneur principal. L'utilisation de `display: flex` pour centrer l'image et `position: relative` pour le conteneur garantit que l'image est alignée correctement et que les propriétés de débordement sont respectées.

  Ensemble, ces propriétés assurent que l'image s'affiche en totalité, respecte les proportions du conteneur, et que les bords arrondis du conteneur sont appliqués de manière cohérente à l'image.
*/


.orange{
    color: #ff6f61; /* Couleur de fond orange */
}

.bg-orange {
    background-color: #ff6f61; /* Couleur de fond orange */
}

.boutton-custom-orange {
    background-color: #ff6f61; /* Couleur de fond orange */
    color: #fff; /* Couleur du texte en blanc */
    border: 1px solid #ff6f61; /* Bordure assortie à la couleur de fond */
    padding: 0.375rem 0.75rem; /* Mêmes valeurs de padding que .btn */
    font-size: 1rem; /* Taille de police */
    font-weight: 400; /* Épaisseur du texte */
    text-align: center; /* Centrage du texte */
    vertical-align: middle; /* Alignement vertical */
    cursor: pointer; /* Curseur en forme de main */
    border-radius: 0.25rem; /* Bordures arrondies */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    text-decoration: none; /* Supprime le soulignement du lien */
}

.boutton-custom-orange:hover {
    background-color: #e56b00; /* Fond orange plus foncé pour le hover */
    border-color: #e56b00; /* Bordure assortie pour le hover */
    text-decoration: none; /* Supprime le soulignement du lien */
}

.boutton-custom-orange:focus,
.boutton-custom-orange:active {
    background-color: #cc6900; /* Couleur de fond encore plus foncée lors du focus/active */
    border-color: #cc6900; /* Bordure assortie pour le focus/active */
    box-shadow: 0 0 0 0.25rem rgba(255, 111, 97, 0.5); /* Ombre autour du bouton avec la couleur orange originale */
    text-decoration: none; /* Supprime le soulignement du lien */
}

.boutton-custom-orange:disabled {
    background-color: #ff6f61; /* Couleur de fond désactivée */
    border-color: #ff6f61; /* Bordure désactivée */
    opacity: 0.65; /* Transparence pour indiquer le désactivé */
    cursor: not-allowed; /* Curseur en mode interdit */
    text-decoration: none; /* Supprime le soulignement du lien */
}