{% extends 'base.html.twig' %}

{% block title %}des recettes facile et rapide à préparer pour les gourmets !{% endblock %}

{% block body %}


    <h1 class="text-dark fw-bold fs-4">Bienvenue sur Gourmeto, plus de 500 recettes facile et rapide a réaliser </h1>

        <h2 class="text-dark fw-bold fs-4 mb-0">A la une</h2>

{% endblock %}
