{% extends 'base.html.twig' %}

{% block title %}des recettes facile et rapide à préparer pour les gourmets !{% endblock %}

{% block body %}


   


<div class="container bg-white shadow-lg py-3">
    <h1 class="text-dark fw-bold fs-4">&Agrave; la Une de Gourmeto</h1>
    <div id="carouselExampleInterval" class="carousel slide mx-auto" data-bs-ride="carousel" style="max-width: 100%;">
    

        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="6000">
                <!-- Conteneur avec bord arrondi -->
                <div class="rounded-3 overflow-hidden" style="height: 50vh; max-width: 90%; margin: 0 auto;">
                    <!-- Conteneur pour l'image avec le style pour centrer -->
                    <div class="image-wrapper">
                        <!-- Image avec object-fit: cover -->
                        <img src="https://images.unsplash.com/photo-1580554530778-ca36943938b2?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        class="d-block img-fluid" 
                        alt="Magret de canard">
                    </div>
                </div>
                <!-- Captions -->
                <div class="carousel-caption-wrapper mt-5">
                    <div class="carousel-caption text-center text-shadow p-3">
                        <h5 class="fw-bold">Magret de canard</h5>
                        <p class="fw-bold">Cuit à la perfection avec une sauce au miel.</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item" data-bs-interval="6000">
                <!-- Conteneur avec bord arrondi -->
                <div class="rounded-3 overflow-hidden" style="height: 50vh; max-width: 90%; margin: 0 auto;">
                    <!-- Conteneur pour l'image avec le style pour centrer -->
                    <div class="image-wrapper">
                        <!-- Image avec object-fit: contain -->
                        <img src="https://images.unsplash.com/photo-1625944525533-473f1a3d54e7?q=80&w=1864&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        class="d-block img-fluid" 
                        alt="Tartare de saumon">
                    </div>
                </div>
                <!-- Captions -->
                <div class="carousel-caption-wrapper mt-5">
                    <div class="carousel-caption text-center text-shadow p-3">
                        <h5 class="fw-bold">Tartare de saumon</h5>
                        <p class="fw-bold">Frais et savoureux, tartare de saumon servi avec herbes fraîches.</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <!-- Conteneur avec bord arrondi -->
                <div class="rounded-3 overflow-hidden" style="height: 50vh; max-width: 90%; margin: 0 auto;">
                    <!-- Conteneur pour l'image avec le style pour centrer -->
                    <div class="image-wrapper">
                        <!-- Image avec object-fit: contain -->
                        <img src="https://images.unsplash.com/photo-1613505411792-208b15f862b0?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        class="d-block img-fluid" 
                        alt="Panacotta à la fraise">
                    </div>
                </div>
                <!-- Captions -->
                <div class="carousel-caption-wrapper mt-5">
                    <div class="carousel-caption text-center text-shadow p-3">
                        <h5 class="fw-bold">Panacotta à la fraise</h5>
                        <p class="fw-bold">Une panacotta légère et gourmande, accompagnée d'une compotée de fraises.</p>
                    </div>
                </div>
            </div>
        </div>      
    </div>
   

</div>




{% endblock %}
